.searching-restaurant {
    background-color: $primary;
    color: #ffffff;
    padding: 12px;
}

.bill-number {
    background-color: $dark;
}

.numpad {
    width: 100%;
}

.img-collage {
    width: 50px;
    height: auto;
}

.my-sticky-header-table {
    /* height or max-height is important */
    height: 60vh;

    .q-table__top,
    .q-table__bottom,
    thead tr:first-child th {
        /* bg color is important for th; just specify one */
        background-color: #c1f4cd;
    }

    thead tr th {
        position: sticky;
        z-index: 1;
    }

    thead tr:first-child th {
        top: 0;

        /* this is when the loading indicator appears */
        &.q-table--loading thead tr:last-child th {
            /* height of all previous header rows */
            top: 48px;
        }
    }
}

.rounded-xl {
    border-radius: 10px;
}